<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
  

<div class="topnav">
  <a class="active" href="#home">La Mandarina</a>
  <a href="#about">Ingresar</a>
  <a href="#contact">Departamentos</a>
  <a href="#contact">Carrito</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Buscar " name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>



</body>
</html>
