
<app-header></app-header>

<section class="row ">
  <div class="col">
    <div role="group">
      <button id="btnGroupDrop1" class="btn btn-primary float-right  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menú 
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" routerLink= "/admiproduct"  >Gestionar Productos</a>
        <a class="dropdown-item" routerLink= "/admiusers"  > Gestionar Estadisticas</a>
      </div>
    </div>


        <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col" >&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of users; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{users.email}}</td>
          <td>
            <button class="btn btn-primary" data-toggle="modal" >Hacer Administrador</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="toDeleteUsers(users.id)">Eliminar Cuenta</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal></app-modal>












<!--<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu Administrador</h3>
        <a routerLink = 'admiproduct' class="w3-bar-item w3-button">Gestionar usuarios</a>
        <a href="#" class="w3-bar-item w3-button">Gestionar productos</a>
        <a href="#" class="w3-bar-item w3-button">Gestionar estadisticas</a>
      </div>
      
      <div style="margin-left:25%">
      <app-header></app-header>

      <table>
        <tr *ngFor="let users of users; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{users.email}}</td>
          <td>{{users.id}}</td>
          <td>
            <button class="btn btn-danger" (click)="toDeleteUsers(users.id)">Eliminar Cuenta</button>
          </td>
        </tr>
          
        </table>

      </div>
  
</body>
</html>-->
