
.main-section {
  border: 1px solid #f59528;
  background: rgba(0, 0, 0, 0.411);
  border-radius: 50px;

}
.profile-header {
  background: #ff7300;
  height: 150px;
}
.user-detail {
  margin: -50px 0 30px 0;
}

h1 {
  font-size: 19pt;
  color: #00ddff;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

.infousuario h1 {
 
  font-size: 30pt;
  color: #00ddff;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

p {
  padding: 0;
  margin: 0;
  color: white;
}

section{
  padding: 0%;
  width: 550px;
  margin: 0 auto;
}
img {
  margin-top: -90px;
  border: 3px solid white;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.user-details h5 {
  margin: 15px 0 5px 0;
}

.logo{

    background: url(perfil.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-top: 200px;

}
    








  /*.main-section {
    border: 1px solid #ff9900;
    background: #fff;
  }
  .profile-header {
    background: #ff9900;
    height: 150px;
  }
  .user-detail {
    margin: -50px 0 30px 0;
  }
  
  img {
    height: 100px;
    width: 100px;
  }
  .user-details h5 {
    margin: 15px 0 5px 0;
  }
*/