<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menú</h3>
        <a routerLink= "/departments"   class="w3-bar-item w3-button">Gestionar productos</a>
        <a routerLink= "/admiuser" class="w3-bar-item w3-button">Gestionar usuarios</a>
        <a href="#" class="w3-bar-item w3-button">Gestionar estadisticas</a>
      </div>
      
      <div style="margin-left:25%">
      <app-home></app-home>
      </div>
  
</body>
</html>